<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {literal}
        <style type="text/css" media="screen,print">

            body, p, div, td {
                color: #000000;
                font: 12px Arial;
            }

            body {
                padding: 0;
                margin: 0;
            }

            a, a:link, a:visited, a:hover, a:active {
                color: #000000;
                text-decoration: underline;
            }

            a:hover {
                text-decoration: none;
            }
        </style>
    {/literal}
</head>

<body style="width: 297mm; height: 210mm;" {if $window_print}onload="print();"{/if}>
<div style="top: 0mm; left: 0mm; width: 198mm; height: 141mm; position: relative;">
    {if $print_bg}
        <img style="width: 198mm; height: 141mm;" src="{$images_dir}/blank_7a.jpg"/>
    {/if}

    {if $type_mailing == 'package'}
        <span style="position: absolute; height: 5mm; width: 5mm; top: 15.5mm; left: 59.5mm; text-align: center; font: 9pt 'Arial';">&#xD7;</span>
    {else}
        <span style="position: absolute; height: 5mm; width: 5mm; top: 19mm; left: 59.5mm; text-align: center; font: 9pt 'Arial';">&#xD7;</span>
    {/if}

    {if !empty($total_declared) && $total_declared}
        <span style="position: absolute; height: 5mm; width: 5mm; top: 15mm; left: 99mm; text-align: center; font: 9pt 'Arial';">&#xD7;</span>
        <span style="position: absolute; height: 5mm; width: 85mm; top: 44mm; left: 100mm; text-align: center; font: 11pt 'Arial';">{$total_declared}</span>
    {/if}

    {if !empty($total_imposed) && $total_imposed}
        <span style="position: absolute; height: 5mm; width: 5mm; top: 18.5mm; left: 99mm; text-align: center; font: 9pt 'Arial';">&#xD7;</span>
        <span style="position: absolute; height: 5mm; width: 85mm; top: 55mm; left: 100mm; text-align: center; font: 11pt 'Arial';">{$total_imposed}</span>
    {/if}

    <span style="position: absolute; height: 9mm; width: 70mm; top: 50mm; left: 23mm; font: 11pt 'Arial';">{if $sender}{$whom} {$whom2}{else}{$fiz_fio} {$fiz_fio2}{/if}</span>
    <span style="position: absolute; height: 15mm; width: 70mm; top: 66mm; left: 17mm; font: 11pt 'Arial'; line-height: 15pt;">{if $sender}{$where} {$where2}{else}{$fiz_address} {$fiz_address2}{/if}</span>
    {if !empty($sms_for_sender) && $sms_for_sender}
        <div style="position: absolute; height: 4mm; width: 40mm; top: 86mm; left: 23mm; font: 11pt 'Arial'; margin:0;">
            <span style="position: absolute; left: 0mm;">{$company_phone.0}</span>
            <span style="position: absolute; left: 4mm;">{$company_phone.1}</span>
            <span style="position: absolute; left: 8mm;">{$company_phone.2}</span>
            <span style="position: absolute; left: 13mm;">{$company_phone.3}</span>
            <span style="position: absolute; left: 17mm;">{$company_phone.4}</span>
            <span style="position: absolute; left: 22mm;">{$company_phone.5}</span>
            <span style="position: absolute; left: 26mm;">{$company_phone.6}</span>
            <span style="position: absolute; left: 30mm;">{$company_phone.7}</span>
            <span style="position: absolute; left: 34mm;">{$company_phone.8}</span>
            <span style="position: absolute; left: 38mm;">{$company_phone.9}</span>
        </div>
        <span style="position: absolute; height: 5mm; width: 5mm; top: 90mm; left: 17.5mm; text-align: center; font: 9pt 'Arial';">&#xD7;</span>
    {/if}
    <span style="position: absolute; height: 4mm; width: 23mm; top: 86mm; left: 70mm; font: 11pt 'Arial'; letter-spacing: 7.6pt;">
            {if $sender}
                <span style="position: absolute; left: 0mm;">{$index.0}</span>
                <span style="position: absolute; left: 4mm;">{$index.1}</span>
                <span style="position: absolute; left: 8mm;">{$index.2}</span>
                <span style="position: absolute; left: 12mm;">{$index.3}</span>
                <span style="position: absolute; left: 16mm;">{$index.4}</span>
                <span style="position: absolute; left: 20mm;">{$index.5}</span>

{else}

                <span style="position: absolute; left: 0mm;">{$fiz_index.0}</span>
                <span style="position: absolute; left: 4mm;">{$fiz_index.1}</span>
                <span style="position: absolute; left: 8mm;">{$fiz_index.2}</span>
                <span style="position: absolute; left: 12mm;">{$fiz_index.3}</span>
                <span style="position: absolute; left: 16mm;">{$fiz_index.4}</span>
                <span style="position: absolute; left: 20mm;">{$fiz_index.5}</span>
            {/if}
        </span>

    <span style="position: absolute; height: 5mm; width: 80mm; top: 78mm; left: 105mm; font: 11pt 'Arial';">{$from_whom} {$from_whom2}</span>
    <span style="position: absolute; height: 15mm; width: 80mm; top: 94mm; left: 100mm; font: 11pt 'Arial'; line-height: 14pt;">{$sender_address} {$sender_address2}</span>
    {if $sms_for_recepient}
        <div style="position: absolute; height: 4mm; width: 40mm; top: 113.5mm; left: 106mm; font: 11pt 'Arial'; margin:0;">
            <span style="position: absolute; left: 0mm;">{$recipient_phone.0}</span>
            <span style="position: absolute; left: 4mm;">{$recipient_phone.1}</span>
            <span style="position: absolute; left: 8mm;">{$recipient_phone.2}</span>
            <span style="position: absolute; left: 13mm;">{$recipient_phone.3}</span>
            <span style="position: absolute; left: 17mm;">{$recipient_phone.4}</span>
            <span style="position: absolute; left: 22mm;">{$recipient_phone.5}</span>
            <span style="position: absolute; left: 26mm;">{$recipient_phone.6}</span>
            <span style="position: absolute; left: 30mm;">{$recipient_phone.7}</span>
            <span style="position: absolute; left: 34mm;">{$recipient_phone.8}</span>
            <span style="position: absolute; left: 38mm;">{$recipient_phone.9}</span>
        </div>
        <span style="position: absolute; height: 5mm; width: 5mm; top: 118mm; left: 100.5mm; text-align: center; font: 9pt 'Arial';">&#xD7;</span>
    {/if}
    <span style="position: absolute; height: 4mm; width: 23mm; top: 113.5mm; left: 153mm; font: 11pt 'Arial'; letter-spacing: 7.6pt;">
            <span style="position: absolute; left: 0mm;">{$from_index.0}</span>
            <span style="position: absolute; left: 4mm;">{$from_index.1}</span>
            <span style="position: absolute; left: 8mm;">{$from_index.2}</span>
            <span style="position: absolute; left: 12mm;">{$from_index.3}</span>
            <span style="position: absolute; left: 16mm;">{$from_index.4}</span>
            <span style="position: absolute; left: 20mm;">{$from_index.5}</span>
        </span>
</div>
</body>
</html>
